<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GalloFlix | @ViewData["Title"]</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/images/logosmall.png" />
    <link rel="stylesheet" href="~/assets/css/libs.min.css">
    <link rel="stylesheet" href="~/assets/css/nairobi.css?v=1.0.0">
    <link rel="stylesheet" href="~/css/site.css">
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class=" ">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- loader END -->
    <aside class="sidebar sidebar-default sidebar-dark navs-gradient sidebar-mini sidebar-hover ">
        <div class="sidebar-header d-flex align-items-center justify-content-start">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand dis-none">
                <div class="logo">
                    <img src="~/assets/images/logosmall.png" width="40">
                </div>
                <div class="logo-hover">
                    <img src="~/assets/images/logo.png" width="150">
                </div>
            </a>
            <div class="sidebar-toggle d-xl-none" data-toggle="sidebar" data-active="true">
                <i class="icon">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.25 12.2744L19.25 12.2744" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M10.2998 18.2988L4.2498 12.2748L10.2998 6.24976" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </i>    
            </div>
        </div>
        <div class="sidebar-body p-0 ">
            <div class="collapse navbar-collapse" id="sidebar">
                <ul class="navbar-nav iq-main-menu">
                    <li class="nav-item ">
                        <a class="nav-link @(ViewBag.Title == "Home" ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="Home">
                            <i class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" fill="currentColor"
                                    viewBox="0 0 22 22">
                                    <path fill-rule="evenodd"
                                        d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                    <path fill-rule="evenodd"
                                        d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                                </svg>
                            </i>
                            <span class="item-name">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.Title == "Filmes" ? "active" : "")" data-bs-toggle="collapse" href="#sidebar-user" role="button"
                            aria-expanded="false" aria-controls="sidebar-user">
                            <i class="icon">
                                <svg width="24" viewBox="0 0 22 22" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg" class="bi bi-film">
                                    <path
                                        d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z" />
                                </svg>
                            </i>
                            <span class="item-name">Filmes</span>
                            <i class="right-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7" />
                                </svg>
                            </i>
                        </a>
                        <ul class="sub-nav collapse" id="sidebar-user" data-bs-parent="#sidebar">
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="Home" asp-action="AllMovies">
                                    <i class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" viewBox="0 0 24 24"
                                            fill="currentColor">
                                            <g>
                                                <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                            </g>
                                        </svg>
                                    </i>
                                    <i class="sidenav-mini-icon"> L </i>
                                    <span class="item-name">Lista de Filmes</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="../dashboard/app/user-add.html">
                                    <i class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" viewBox="0 0 24 24"
                                            fill="currentColor">
                                            <g>
                                                <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                            </g>
                                        </svg>
                                    </i>
                                    <i class="sidenav-mini-icon"> P </i>
                                    <span class="item-name">Mais Populares</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <partial name="_AccountManager"></partial>
                </ul>
            </div>
        </div>
    </aside>

    <main class="main-content">
        <div class="position-relative">
            <!--Nav Start-->
            <nav class="nav navbar navbar-expand-lg navbar-light iq-navbar">
                <div class="container-fluid navbar-inner">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    </a>
                    <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
                        <i class="icon">
                            <svg width="20px" height="20px" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
                            </svg>
                        </i>
                    </div>
                    <div class="header-logo d-xl-none">
                        <a asp-controller="Home" asp-action="Index" class="navbar-brand text-white">
                            <img src="~/assets/images/logo.png" width="150">
                        </a>
                    </div>
                    <div class="input-group search-input">
                        <span class="input-group-text" id="search-input">
                            <svg width="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="11.7669" cy="11.7666" r="8.98856" stroke="currentColor" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></circle>
                                <path d="M18.0186 18.4851L21.5426 22" stroke="currentColor" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <input id="search-input-text" type="search" class="form-control" placeholder="Pesquisar...">
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <span class="navbar-toggler-bar bar1 mt-2"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto navbar-list mb-2 mb-lg-0 align-items-center">
                            <partial name="_Notifications"></partial>
                            <partial name="_LastestNews"></partial>
                            <partial name="_LoginPartial"></partial>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--Nav End-->
        </div>
        <div class="container-fluid content-inner pb-0">
            <div class="row">
                @RenderBody()
            </div>
        </div>
        <footer class="footer">
            <div class="footer-body">
                <ul class="left-panel list-inline mb-0 p-0">
                    <li class="list-inline-item">
                        <a asp-controller="Home" asp-action="Privacy" class="text-white">Politica de Privacidade</a>
                    </li>
                    <li class="list-inline-item">
                        <a asp-controller="Home" asp-action="TermsOfUse" class="text-white">Termos de Uso</a>
                    </li>
                </ul>
                <div class="right-panel">
                    © @DateTime.Now.Year GalloFlix, Made with
                    <span class="text-gray">
                        <svg width="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.85 2.50065C16.481 2.50065 17.111 2.58965 17.71 2.79065C21.401 3.99065 22.731 8.04065 21.62 11.5806C20.99 13.3896 19.96 15.0406 18.611 16.3896C16.68 18.2596 14.561 19.9196 12.28 21.3496L12.03 21.5006L11.77 21.3396C9.48102 19.9196 7.35002 18.2596 5.40102 16.3796C4.06102 15.0306 3.03002 13.3896 2.39002 11.5806C1.26002 8.04065 2.59002 3.99065 6.32102 2.76965C6.61102 2.66965 6.91002 2.59965 7.21002 2.56065H7.33002C7.61102 2.51965 7.89002 2.50065 8.17002 2.50065H8.28002C8.91002 2.51965 9.52002 2.62965 10.111 2.83065H10.17C10.21 2.84965 10.24 2.87065 10.26 2.88965C10.481 2.96065 10.69 3.04065 10.89 3.15065L11.27 3.32065C11.3618 3.36962 11.4649 3.44445 11.554 3.50912C11.6104 3.55009 11.6612 3.58699 11.7 3.61065C11.7163 3.62028 11.7329 3.62996 11.7496 3.63972C11.8354 3.68977 11.9247 3.74191 12 3.79965C13.111 2.95065 14.46 2.49065 15.85 2.50065ZM18.51 9.70065C18.92 9.68965 19.27 9.36065 19.3 8.93965V8.82065C19.33 7.41965 18.481 6.15065 17.19 5.66065C16.78 5.51965 16.33 5.74065 16.18 6.16065C16.04 6.58065 16.26 7.04065 16.68 7.18965C17.321 7.42965 17.75 8.06065 17.75 8.75965V8.79065C17.731 9.01965 17.8 9.24065 17.94 9.41065C18.08 9.58065 18.29 9.67965 18.51 9.70065Z"
                                fill="currentColor"></path>
                        </svg>
                    </span> por <a href="https://iqonic.design/">IQONIC Design</a>.
                </div>
            </div>
        </footer>
    </main>

    <!-- Wrapper End-->
    <!-- offcanvas start -->

    <!-- Backend Bundle JavaScript -->
    <script src="~/assets/js/libs.min.js"></script>
    <!-- widgetchart JavaScript -->
    <script src="~/assets/js/charts/widgetcharts.js"></script>
    <!-- dashboard JavaScript -->
    <script src="~/assets/js/charts/dashboard.js"></script>
    <!-- fslightbox JavaScript -->
    <script src="~/assets/js/fslightbox.js"></script>
    <!-- app JavaScript -->
    <script src="~/assets/js/app.js"></script>
    <script>
        $("#search-input-text").on('keyup', function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
                window.location = '@Url.Action("AllMovies", "Home")' + '?title=' + $("#search-input-text").val();
            }
        });
    </script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>