@model GalloFlix.Models.Movie
@{
    ViewData["Title"] = "Filmes";

    string RatingClass(byte AgeRating)
    {
        if (AgeRating <= 10)
            return "text-success";
        else
        if (AgeRating < 18)
            return "text-warning";
        else
            return "text-primary";
    };
}

<div class="col-lg-4">
    <div class="card">
        <div class="card-body">
            <img src="@Model.Image" class="img-fluid iq-img iq-img-shadow-blue" alt="@Model.Title" style="height:100%; width:100%">
        </div>
    </div>
</div>

<div class="col-lg-8">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h3 class="card-title">@Model.Title</h4>
                    <h5 class="card-title mt-2">@Model.OriginalTitle
                </h3>
            </div>
        </div>
        <div class="card-body">
            <div class="new-user-info">
                <p class="fs-5">
                    @string.Join(", ", Model.Genres.Select(mr => mr.Genre.Name))
                    @if (Model.Ratings.Count > 0)
                    {
                        <span class="float-end" data-toggle="tooltip" data-placement="top" title="Total de Avaliações: @Model.Ratings.Count">
                            Avaliação: @Model.Ratings.Average(r => r.RatingValue).ToString("N1")/10*
                        </span>
                    }
                </p>
                <p class="fs-6 d-flex justify-content-between">
                    <span>Estreia: @Model.MovieYear</span>
                    <span>Duração @Model.HourDuration</span>
                    <span class="@RatingClass(Model.AgeRating)">
                        Classificação @(Model.AgeRating == 0 ? "Livre" : string.Concat(Model.AgeRating, " anos"))
                    </span>
                </p>
                <p class="fs-6" style="text-align:justify;">@Model.Synopsis</p>
                
                <partial name="_Rating"></partial>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ratings.js"></script>
}