@model IEnumerable<GalloFlix.Models.Movie>
@{
    ViewData["Title"] = "Home";
    
    string RatingClass(byte AgeRating){
        if (AgeRating <= 10)
            return "text-success";
        else
            if (AgeRating < 18)
                return "text-warning";
            else
                return "text-primary";
    };
}

<partial name="_Welcome"></partial>

<div class="col-lg-12">
    <div class="row">
        <div class="d-flex justify-content-between">
            <h5>Últimos Filmes Cadastrados</h5>
            <p class="text-primary"><a asp-action="LastestMovies">Mais</a></p>
        </div>
        <div class="swiper-container d-slider2">
            <div class="swiper-wrapper">
                @foreach (var movie in Model)
                {
                    <div class="swiper-slide">
                        <div class="card tournament-card cursor-hand" onclick="GetInfo(@movie.Id)">
                            <div class="card-header">
                                <img src="@movie.Image" class="img-fluid iq-img iq-img-shadow-blue" alt="@movie.Title" >
                                <h6 class="tournament-title text-center mt-2">@movie.Title</h6>
                            </div>
                            <div class="card-body mb-3">
                                <div class="d-flex justify-content-between">
                                    <span class="tournament-label">
                                        @string.Join(", ", movie.Genres.Select(g => g.Genre.Name))
                                    </span>
                                    <span class="tournament-label">
                                        @movie.MovieYear
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <span class="tournament-label @RatingClass(movie.AgeRating)">
                                        Classificação @(movie.AgeRating == 0 ? "Livre" : string.Concat(movie.AgeRating, " anos"))
                                    </span>
                                    @if (movie.Ratings.Count > 0)
                                    {
                                        <span class="tournament-label" data-toggle="tooltip" data-placement="top" title="Total de Avaliações: @movie.Ratings.Count">
                                            Avaliação: @movie.Ratings.Average(r => r.RatingValue).ToString("N1")/10*
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function GetInfo(id)
        {
            window.location = '@Url.Action("Detail", "Home")' + '?id=' + id;
        }
    </script>
}